<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet"
              href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/jquery-1.10.2.js"/>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"/>
        <div th:include="fragments/header :: header-css"/>
        <script>
  $( function() {
    $( ".save" ).on( "click", function() {
        var form = $( this ).closest("form");
        var dialog = $( "#save-confirm" ).dialog({
              resizable: false,
              height: "auto",
              autoOpen: false,
              width: 400,
              modal: true,
              buttons: {
                "Zapisz": function() {
                  form.submit();
                  $( this ).dialog( "close" );
                },
                "Anuluj" : function() {
                  $( this ).dialog( "close" );
                }
              }
        });

        dialog.dialog( "open" );
    });
  } );
        </script>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <a th:href="@{/admin/rooms}">Powrót</a>
            <h1>
                Dane pokoju <span th:text="${roomModel.room}+${roomTypes[roomModel.typeId]}"/>
            </h1>
            <fieldset class="fieldset" style="margin-left: 35%; margin-right: 35%;">
                <div>
                    <form th:object="${roomModel}" th:action="@{/admin/rooms/edit/} + ${roomModel.id}" method="post">
                        <div align="right">
                            <p>
                                Pokój: <input type="number" th:field="*{room}" minlength="1" maxlength="3"
                                              required="true"/>
                            </p>
                            <p>
                                Typ pokoju:
                                <select th:field="*{typeId}" required="true">
                                    <option th:each="type,i : ${roomTypes}"
                                            th:value="${i.count - 1}"
                                            th:text="${type}"/>
                                </select>
                            </p>
                            <p>
                                Część studencka: <input type="checkbox" th:field="*{students}" required="true"/>
                            </p>
                            <p>
                                Liczba miejsc: <input type="number" th:field="*{peoples}" minlength="1" maxlength="2"
                                              required="true"/>
                            </p>
                        </div>
                        <input class="save" type="button" value="Zapisz" style="margin-bottom: 20px;"/>
                    </form>
                </div>
            </fieldset>
        </center>
        <div id="save-confirm" style="display: none" title="Zmiana danych pokoju">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno
                chcesz zapisać zmiany?</p>
        </div>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>