<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <img src="/images/logo.jpg"/>
            <div style="margin-left:35%;margin-right:35%;">
                Link do resetowania hasła wygasł.
            </div>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>