<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <h2>Rejestracja konta</h2>
            <img src="/images/logo.jpg"/>
            <fieldset class="fieldset" style="margin-left: 35%; margin-right: 35%;">
                <form:select path="room">
                    <form:option value="" label="...."/>
                    <form:options items="${rooms}"/>
                </form:select>
                <div>
                    <form th:object="${userRegistrationModel}" th:action="@{/user/registration}" method="post">
                        <div align="right">
                            <p>
                                Pokój:
                                <select th:field="*{roomId}" required="true">
                                    <option value=""/>
                                    <option th:each="room : ${rooms}"
                                            th:value="${room.id}"
                                            th:text="${room.room}+${room.type}"/>
                                </select>
                                <label th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}"
                                       style="color:red;font-size:15px"
                                       class="validation-message"/>
                            </p>
                            <p>
                                Imię: <input type="text" th:field="*{name}" minlength="2" maxlength="30"
                                             required="true"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Nazwisko: <input type="text" th:field="*{surname}" minlength="2" maxlength="30"
                                                 required="true"/>
                            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Email: <input type="text" th:field="*{email}" required="true"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Login: <input type="text" th:field="*{username}" minlength="3" maxlength="30"
                                              required="true"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Hasło: <input type="password" th:field="*{password}" minlength="5" maxlength="30"
                                              required="true"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Powtórz hasło: <input type="password" th:field="*{passwordRepeat}" minlength="5"
                                                      maxlength="30" required="true"/>
                            <p th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p style="color:green;font-size:15px">
                                <span th:text="${successMessage}"/>
                            </p>
                        </div>
                        <input class="btn" type="submit" value="Rejestracja" style="margin-bottom: 20px;"/>
                    </form>
                </div>
            </fieldset>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>