<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <h2>Rejestracja konta</h2>
            <fieldset class="fieldset">
                <iframe style="width:100%; height: 3500px; border:none; display: block;" src="https://docs.google.com/document/d/1UI-0DS33XgHRHhnsTIaK9tO7vb0ajt7g/preview"></iframe>
                <iframe style="width:100%; height: 3500px; border:none; display: block;" src="https://docs.google.com/document/d/1egQsALlbZo359mVThlxeOSddmOeLyUln/preview"></iframe>
            </fieldset>
            <div style="margin-left: 35%; margin-right: 35%; margin-bottom: 50px;">
                <form th:action="@{/user/rodo}" method="get">
                    <div align="right">
                        <p align="center">
                            <input type="checkbox" name="accept" value="accept" required="true"/>Akceptuje regulamin
                        </p>
                    </div>
                    <input class="btn" type="submit" value="Dalej" style="margin-bottom: 20px;"/>
                </form>
            </div>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>