<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <img src="/images/logo.jpg"/>
            <div style="margin-left:35%;margin-right:35%;">
                <fieldset>
                    <form method="post" action="/user/restore">
                        <div align="center">
                            <p>Adres email:
                                <input maxlength="30" name="email" type="text" required="true"/>
                            </p>
                        </div>
                        <div th:if="${param.successful}">
                            Hasło zostało wyslane na podany adres email.
                        </div>
                        <div th:if="${param.error}">
                            Brak użytkownika z danym adresem email.
                        </div>
                    </form>
                </fieldset>
            </div>
            <p>
                <input class="btn" type="submit" value="Wyślij nowe hasło"/>
            </p>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>