<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <img src="/images/logo.jpg"/>
            <div style="margin-left:35%;margin-right:35%;">
                <fieldset class="fieldset">
                    <form th:object="${restorePasswordModel}" th:action="@{/user/restorePassword}" method="post">
                        <div align="center">
                            <p>
                                Email: <input type="text" th:field="*{email}" maxlength="30" required="true"/>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                        </div>
                        <p style="color:green;font-size:15px">
                            <span th:text="${successMessage}"/>
                        </p>
                        <input class="btn" type="submit" value="Wyślij"/>
                    </form>
                </fieldset>
            </div>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>