<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/jquery-1.10.2.js"/>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"/>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <h2>Ustawienia konta</h2>
            <div style="margin-left: 35%; margin-right: 35%;">
                <form th:object="${userSettingsModel}" th:action="@{/user/settings}" method="post">
                    <fieldset>
                        <div align="right">
                            <input type="checkbox" th:field="*{setNewUsername}"/>
                            Zmień login
                            <p>
                                Nowy login: <input type="text" th:field="*{newUsername}"
                                                   maxlength="30"
                                                   disabled="disabled" required="true"/>
                            <p th:if="${#fields.hasErrors('newUsername')}" th:errors="*{newUsername}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>

                            <input type="checkbox" th:field="*{setNewEmail}"/>
                            Zmień email
                            <p>
                                Nowy email: <input type="text" th:field="*{newEmail}"
                                                   maxlength="30"
                                                   disabled="disabled" required="true"/>
                            <p th:if="${#fields.hasErrors('newEmail')}" th:errors="*{newEmail}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>

                            <input type="checkbox" th:field="*{setNewPassword}"/>
                            Zmień hasło
                            <p>
                                Nowe hasło: <input type="password" th:field="*{newPassword}"
                                                   minlength="5" maxlength="30"
                                                   disabled="disabled" required="true"/>
                            <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p>
                                Powtórz nowe hasło: <input type="password"
                                                           th:field="*{newPasswordRepeat}"
                                                           minlength="5" maxlength="30"
                                                           disabled="disabled" required="true"/>
                            <p th:if="${#fields.hasErrors('newPasswordRepeat')}" th:errors="*{newPasswordRepeat}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                        </div>
                    </fieldset>
                    <br/>
                    <fieldset>
                        <div align="right">
                            <p>
                                Podaj hasło: <input th:field="*{password}" type="password" required="true"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               style="color:red;font-size:15px"
                               class="validation-message"/>
                            </p>
                            <p style="color:green;font-size:15px">
                                <span th:text="${successMessage}"/>
                            </p>
                            <input class="btn" type="submit" value="Wyślij"/>
                        </div>
                    </fieldset>
                </form>
                <br/>
            </div>
        </center>
        <script type="text/javascript">
        $(function () {
            $("input:checkbox[name=setNewUsername]").click(function () {
                $("input:text[name=newUsername]").attr("disabled", !this.checked);
            });
            $("input:checkbox[name=setNewEmail]").click(function () {
                $("input:text[name=newEmail]").attr("disabled", !this.checked);
            });
            $("input:checkbox[name=setNewPassword]").click(function () {
                $("input:password[name=newPassword]").attr("disabled", !this.checked);
                $("input:password[name=newPasswordRepeat]").attr("disabled", !this.checked);
            });
        });


        </script>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>