<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:fragment="header-css">
            <meta charset="UTF-8"/>
            <title>DS Bursa Jagiellońska</title>
            <style type="text/css">
                .alignleft {
                    float: left;
                }

                .alignright {
                    float: right;
                }
                        footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

            </style>
        </div>
    </head>
</html>