<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine"/>
        <div th:fragment="header-css">
            <meta charset="UTF-8"/>
            <title>DS Bursa Jagiellońska</title>
            <style type="text/css">
                .alignleft {
                    float: left;
                }

                .alignright {
                    float: right;
                }
                        footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
                }
.fieldset {
  -moz-border-radius:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
      * {
        font-family: Ubuntu;
      }
            </style>
        </div>
    </head>
    <div th:fragment="menu" class="alignleft">
        <div sec:authorize="isAuthenticated()">
            <div th:if="${user.name == null}">
                <span th:text="${user.room.room}"/><span th:text="${user.room.type}"/>
            </div>
            <div th:unless="${user.name == null}">
                <span th:text="${user.name}"/> <span th:text="${user.surname}"/>
            </div>

            <a href="javascript: document.logoutForm.submit()">Wyloguj</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden="true" class="btn" type="submit" value="Logout"/>
            </form>
            <br/>
            Tokeny: <span th:text="${user.tokens}"/>
            <!--<br/>-->
            <!--<a href="/user/settings">Ustawienia</a>-->
        </div>
        <div sec:authorize="isAnonymous()">
            <a href="/login">Logowanie</a>
        </div>
    </div>
</html>