<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet"
              href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/jquery-1.10.2.js"/>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"/>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <h1>
                Lista na pranie na tydzień <span th:text="${weekFrame}"/>
            </h1>
            <p>
                Liczba wolnych miejsc: <span th:text="${wmFree}"/>
            </p>
            <form th:action="@{/week/} + ${prevWeekId}" class="alignleft" style="margin-left:50px">
                <input class="btn" type="submit" value="Poprzedni tydzień"/>
            </form>
            <form th:if="${nextWeekId != null}" th:action="@{/week/} + ${nextWeekId}" class="alignright"
                  style="margin-right:50px">
                <input class="btn" type="submit" value="Następny tydzień"/>
            </form>
            <table width="100%">
                <tbody>
                    <tr>
                        <th align="center">Poniedziałek</th>
                        <th align="center">Wtorek</th>
                        <th align="center">Środa</th>
                        <th align="center">Czwartek</th>
                        <th align="center">Piątek</th>
                        <th align="center">Sobota</th>
                    </tr>
                    <tr>
                        <th th:each="dayDate : ${timesWeek[0].dates}">
                            <span th:text="${dayDate.date}"/>
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <form th:action="@{/week/}+${weekId}+@{/block}" method="post">
                                    <input type="text" name="date" th:value="${dayDate.date}" hidden="hidden"/>
                                    <input class="btn" type="submit" value="Blokada"/>
                                </form>
                                <form th:action="@{/week/}+${weekId}+@{/unblock}" method="post">
                                    <input type="text" name="date" th:value="${dayDate.date}" hidden="hidden"/>
                                    <input class="btn" type="submit" value="Odblokowanie"/>
                                </form>
                            </div>
                        </th>
                    </tr>
                    <tr th:each="timeWeek,i : ${timesWeek}">
                        <th th:each="wmDate : ${timeWeek.dates}" class="time" th:bgcolor="${wmDate.color}"
                            style="border-radius: 7px; cursor: pointer; text-align: center; opacity: 1;">
                            <form action="#" th:action="@{/wm/} + ${wmDate.date} + @{/} + ${i.count}" method="get">
                                <button width="100%" type="submit"
                                        style="border:none; background-color: transparent; cursor:pointer;">
                                    <span th:text="${timeWeek.time}"/>
                                    <br/>
                                    <br/>
                                    Wolne pralki: <span th:text="${wmDate.wmFree}"/>
                                </button>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </center>
        <div>
            <table class="alignleft">
                <tbody>
                    <tr>
                        <td>Znaczenie kolorów</td>
                    </tr>
                    <tr height="50">
                        <td bgcolor="#E9E581" align="center" >Wolna pralka</td>
                        <td bgcolor="#ffdb0c" align="center">Moja pralka</td>
                        <td bgcolor="#B71427" align="center">Zajęta pralka/Termin nieaktualny</td>
                    </tr>
                </tbody>
            </table>
            <table class="alignright">
                <tbody>
                    <tr>
                        <td>Zasady:</td>
                    </tr>
                    <tr>
                        <td>- każdemu przysługuje jedna pralka na tydzień</td>
                    </tr>
                    <tr>
                        <td>- lista jest resetowana w każdą niedzielę o 10:00</td>
                    </tr>
                    <tr>
                        <td>
                            <br/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
        $(function () {
            $('.time').mouseover(function () {
                $(this).animate({
                opacity: 0.75
                }, 20);
            });
            $('.time').mouseout(function () {
                $(this).animate({
                opacity: 1
                }, 20);
            });
        });
        </script>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>