<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:include="fragments/header :: menu"/>
        <center>
            <a th:href="@{/week}">Powrót</a>
            <h1>
                <span th:text="${dayName}"/> <span th:text="${date}"/>
                <br/>
                <span th:text="${time}"/>
            </h1>
            <p>
                Liczba wolnych miejsc:
                <span th:text="${wmFree}"/>
            </p>
            <table width="35%">
                <tbody>
                    <tr>
                        <th th:each="reservation,i : ${reservations}" style="border-radius: 7px;vertical-align:top"
                            width="11%" align="center"
                            th:bgcolor="${reservation.color}">
                            <span th:text="${i.count}"/>
                            <img src="/images/wm.jpg"/>
                            <div th:switch="${reservation.type.name()}">
                                <p th:case="RESERVED">
                                    <span th:if="${reservation.user.name != null}" th:text="${reservation.user.name}"/>
                                    <br/>
                                    <span th:text="${reservation.user.room.room}+${reservation.user.room.type}"/>
                                </p>
                                <p th:case="MY">
                                    <span th:if="${reservation.user.name != null}" th:text="${reservation.user.name}"/>
                                    <br/>
                                    <span th:text="${reservation.user.room.room}+${reservation.user.room.type}"/>
                                </p>
                                <p th:case="PAST">
                                    <span>-<br/>-</span>
                                </p>
                                <p th:case="FREE">
                                    <span>-<br/>-</span>
                                </p>
                                <p th:case="UNAVAILABLE">
                                    <span>BLOKADA<br/><br/></span>
                                </p>
                            </div>
                            <div th:switch="${reservation.type.name()}">
                                <p th:case="FREE">
                                <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
                                    <div th:if="${user.tokens &gt; 0}">
                                        <form th:action="@{register}" method="post">
                                            <input type="text" name="wmNumber" th:value="${i.index}" hidden="hidden"/>
                                            <input class="btn" type="submit" value="Zarezerwuj"/>
                                        </form>
                                    </div>
                                </div>
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <form th:action="@{block}" method="post">
                                        <input type="text" name="wmNumber" th:value="${i.index}" hidden="hidden"/>
                                        <input class="btn" type="submit" value="Blokada"/>
                                    </form>
                                </div>
                                </p>
                                <p th:case="MY">
                                <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
                                    <form th:action="@{unregister}" method="post">
                                        <input type="text" name="reservationId" th:value="${reservation.reservationId}"
                                               hidden="hidden"/>
                                        <input class="btn" type="submit" value="Wyrejestruj"/>
                                    </form>
                                </div>
                                </p>
                                <p th:case="UNAVAILABLE">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <form th:action="@{remove}" method="post">
                                        <input type="text" name="reservationId" th:value="${reservation.reservationId}"
                                               hidden="hidden"/>
                                        <input class="btn" type="submit" value="Usuń"/>
                                    </form>
                                </div>
                                </p>
                                <p th:case="RESERVED">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <form th:action="@{remove}" method="post">
                                        <input type="text" name="reservationId" th:value="${reservation.reservationId}"
                                               hidden="hidden"/>
                                        <input class="btn" type="submit" value="Usuń"/>
                                    </form>
                                </div>
                                </p>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <p style="color:red;font-size:15px">
            <span th:text="${errorMessage}"/>
            </p>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>