<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <center>
            <h2>Zapisy na pranie w DS Bursa Jagiellońska</h2>
            <img src="/images/logo.jpg"/>
            <div style="margin-left:35%;margin-right:35%;">
                <form action="/type" method="get">
                    <input class="btn" type="submit" value="Lista bez logowania"/>
                </form>
                <br/>
                <fieldset class="fieldset">
                    <div align="center">
                        <form th:action="@{/login}" method="post">
                            <p>Login lub email: <br/><input type="text" name="username" required="true"/></p>
                            <p> Hasło: <br/><input type="password" name="password" required="true"/></p>
                            <input class="btn" type="submit" value="Zaloguj się"/>
                        </form>
                    </div>
                    <div class="error"
                         th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}"
                         th:with="errorMsg=${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
                        <p style="color:red">
                            <span th:text="${errorMsg}"/>
                        </p>
                    </div>
                    <br/>
                    <a href="/user/restorePassword">Nie pamiętasz hasła?</a><br/>
                    <a href="/user/regulations">Utwórz konto</a><br/>
                </fieldset>
                <br/>
                <div align="center" th:if="${message}">
                    <font color="red">UWAGA!</font><br/>
                    <span th:text="${message}" />
                </div>
                <div align="center" th:if="${holidays}">
                    <font color="red">UWAGA!</font><br/>
                    Na okres wakacji zostały wprowadzone małe zmiany.<br/>
                    <br/>
                    Login: numer pokoju<br/>
                    Hasło: bursa<br/>
                    <br/>
                    * Numer pokoju składa się z numeru składu i litery oznaczającej pokój. np. 33b, 24c, 19a<br/>
                    * Zmiana nie dotyczy części asystenckiej.<br/>
                    * Brak możliwości zmiany terminu.<br/>
                </div>
            </div>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>