<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:include="fragments/header :: header-css"/>
    </head>
    <body>
        <center>
            <h2>Zapisy na pranie w DS Bursa Jagiellońska</h2>
            <img src="/images/logo.jpg"/>
            <div style="margin-left:35%;margin-right:35%;">
                <form action="/week" method="get">
                    <input type="submit" value="Lista bez logowania"/>
                </form>
                <br/>
                <fieldset>
                    <div align="center">
                        <form th:action="@{/login}" method="post">
                            <p>Login: <input type="text" name="username" required="true"/></p>
                            <p> Hasło: <input type="password" name="password" required="true"/></p>
                            <input type="submit" value="Zaloguj się"/>
                        </form>
                    </div>
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <br/>
                    <a href="/user/restore">Nie pamiętasz hasła?</a><br/>
                    <a href="/user/registration">Utwórz konto</a>
                </fieldset>
            </div>
        </center>
    </body>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</html>