<!DOCTYPE html>
<html lang="pl" th:lang="${#locale.language}" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{app.name}">BJ Pralnia</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
          * {
        font-family: Ubuntu;
      }
        </style>
    </head>
    <body>
        <h1><span th:text="#{email.reset.heading}">Resetowanie hasła</span> <span th:text="${host}"/></h1>
        <h2><span th:text="#{email.reset.greeting}">Witaj</span> <span th:text="${name}"/>!</h2>
        <span>
            <span th:text="#{email.reset.instruction}">Aby zresetować hasło, kliknij</span>
            <a th:href="@{'http://' + ${host} + '/user/resetPassword?resetPasswordKey=' + ${resetPasswordKey}}" th:text="#{email.reset.link}">tutaj</a>.
        </span>
        <br/>
        <br/>
        <span>
            <span th:text="#{email.reset.ignore}">Jeżeli nie prosiłeś o zresetowanie hasła, zignoruj tę wiadomość.</span>
        </span>
    </body>
</html>
