<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>DS Bursa Jagiellońska</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
          * {
        font-family: Ubuntu;
      }
        </style>
    </head>
    <body>
        <h1>Resetowanie hasła www.bj-pranie.pl</h1>
        <h2>Witaj <span th:text="${name}"/>!</h2>
        <span>
            Twoje tymczasowe hasło to: <b><span th:text="${newPassword}"/></b>
        </span>
        <br/>
        <br/>
        <span>
            Jeżeli nie resetowałeś hasła to zignoruj tą wiadomość!
        </span>
    </body>
</html>